@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>
        <strong>Error Message:</strong> <code>@Model.ErrorMessage</code>
    </p>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>
        <strong>Stacktrace:</strong>
        <textarea class="form-control" rows="20" readonly>@Model.StackTrace</textarea>
    </p>
}

@if (!string.IsNullOrEmpty(Model.RequestId))
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
